.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    height: 100vh;
    padding: 0 3rem;
}

.header__overtitle {
    color: $secondary-color-font;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
}

.header__primary-title {
    font-size: 3rem;
    font-weight: 500;
    color: $primary-color-font;
}

.header__primary-title--marked {
    color: $additional-color-font;
}

.header__description {
    color: $secondary-color-font;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    margin: 1.5rem 0;
}

.header__button {
    background-color: $btn-background-color;
    border: solid 0.25rem $btn-background-color;
    border-radius: 0.2rem;
    color: $color-light;
    text-transform: uppercase;
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    transition-duration: 0.2s;
}

.header__button:hover {
    background-color: darken($btn-background-color, 5%);
    border: solid 0.25rem darken($btn-background-color, 5%);
}