$primary-color-font: #1a237e;
$secondary-color-font: #727fc8;
$additional-color-font: #314ffe;
$background-color-dark: #eaecf7;
$background-color-medium: #f5f7fc;
$color-light: #ffffff;
$btn-background-color: #ffab02;
$color-grey: #e8e8e8;
$circle-shape-dark-color: #e9ebf7;